.button {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;

  padding: 1.5rem 3rem;
  border: none;

  cursor: pointer;
}
