.container {
  max-width: 110rem;
  margin: 0 auto;
}

.header {
  background-color: #0e0e0e;
  height: 72rem;

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &__links {
      list-style: none;
      display: flex;

      margin-left: -10rem;
    }

    &__link {
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;

      margin-right: 3.4rem;
    }

    &__href {
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: #d87d4a;
      }
    }
  }

  .new-product {
    display: flex;
    &__img {
      margin-top: 7rem;
    }

    &__layouts {
      margin-top: 13rem;
      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
      }
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 58px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
      }
      p {
        font-style: normal;
        font-weight: 200;
        font-size: 15px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.5);

        width: 35rem;
        height: 7.5rem;
        margin-bottom: 4rem;
      }
    }
    &__btn {
      background: #d87d4a;

      &:hover {
        background: #fbaf85;
      }
    }
  }
}

.main {
  display: flex;
  margin-top: 12rem;
  margin-bottom: 17rem;
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
    border-radius: 8px;
    margin-right: 3rem;

    width: 35rem;
    height: 20rem;

    &__img {
      width: 12rem;
      height: 16rem;
      object-fit: cover;
      margin-top: -6rem;
    }

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 1.28571px;
      text-transform: uppercase;

      color: #000000;
    }

    &__shop {
      margin-top: 1.5rem;
      .shop-href {
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);

        margin-right: 1.3rem;

        text-decoration: none;

        &:hover {
          color: #d87d4a;
        }
      }
    }
  }
}

.speaker9 {
  overflow: hidden;
  height: 560px;
  background: #d87d4a;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;

  &__img {
    width: 40rem;
    height: 48rem;
    margin-left: 5rem;
    margin-top: 10rem;
    // margin-right: 14rem;
  }

  &__layouts {
    margin-top: 13rem;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      line-height: 58px;

      letter-spacing: 2px;
      text-transform: uppercase;

      color: #ffffff;

      width: 26rem;
      height: 11.5rem;
    }

    p {
      font-style: normal;
      font-weight: 200;
      font-size: 15px;
      line-height: 25px;
      color: #ffffff;
      opacity: 0.75;

      width: 35rem;
      height: 5rem;

      margin-top: 1.4rem;
      margin-bottom: 6.5rem;
    }

    button {
      background: #000000;

      &:hover {
        background: #4c4c4c;
      }
    }
  }
}

.speaker7 {
  margin-top: 5rem;
  &__img {
    border-radius: 8px;
    max-width: 100%;
    width: 320rem;
  }

  &__layouts {
    margin-top: -22rem;
    margin-left: 9.5rem;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #000000;

      margin-bottom: 3.2rem;
    }

    button {
      background-color: transparent;
      color: #000000;
      border: 1px solid #000000;

      &:hover {
        background: #000000;
        color: #ffffff;
      }
    }
  }
}

.earphonesx1 {
  margin-top: 15rem;
  display: flex;

  &__img {
    width: 540px;
    height: 320px;
    border-radius: 8px;
    margin-right: 3rem;
  }

  &__card {
    background: #f1f1f1;
    border-radius: 8px;
    width: 540px;
    height: 320px;

    padding: 101px 170px 101px 95px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
      letter-spacing: 2px;
      text-transform: uppercase;

      margin-bottom: 3.2rem;

      color: #000000;
    }
    button {
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;

      color: #000000;
      background-color: transparent;
      border: 1px solid #000000;

      &:hover {
        background: #000000;
        color: #ffffff;
      }
    }
  }
}

.best-audio {
  display: flex;
  margin-top: 20rem;

  &__layouts {
    margin-top: 15rem;
    margin-right: 12rem;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 44px;
      letter-spacing: 1.42857px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 3.2rem;

      span {
        color: #d87d4a;
      }

      P {
        font-style: normal;
        font-weight: 200;
        font-size: 15px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__img {
    border-radius: 8px;
  }
}

.footer {
  margin-top: 20rem;
  background: #101010;
  height: 36.5rem;

  &__all {
    display: flex;
    justify-content: space-between;
    padding-top: 7.5rem;
  }

  &__layouts {
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
    p {
      width: 540px;
      height: 75px;
      font-style: normal;
      font-weight: 200;
      font-size: 15px;
      line-height: 25px;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.5;

      margin-bottom: 8.1rem;
      margin-top: 3.6rem;
    }
  }

  &__right {
    margin-left: 14rem;
  }

  &__links {
    list-style: none;
    display: flex;
  }

  &__link {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;

    margin-right: 3.4rem;
  }

  &__href {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #d87d4a;
    }
  }

  &__social-links {
    display: flex;
    justify-content: flex-end;

    margin-top: 10.5rem;
  }
  &__social-link {
    list-style: none;
    margin-right: 1.6rem;
    cursor: pointer;
  }

  &__social-href svg {
    fill: #fff;
   &:hover {
    fill: #d87d4a;
   }
  }
}
